manifest {
    name = 'Camila Sao Paulo analysis'
    description = "Workflow for the the Camila Sao Paulo analsis"
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}

    plugins {
            id 'nf-azure'
            }

docker.enabled = true

profiles {
    standard {includeConfig 'conf/standard.config'}
    gls {includeConfig 'conf/gcp.config'}
    azureBatch {includeConfig 'conf/azure.config'}
    awsBatch {includeConfig 'conf/aws.config'}
}

