manifest {
    name = 'Camila Sao Paolo analysis'
    description = "Workflow for the the Camila Sao Paolo analsis"
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}


process {
    errorStrategy = 'retry'
    maxRetries = 3
}


profiles {
    standard {
        docker.enabled = true
    }

    aws_batch {
        aws.client.uploadMaxThreads = 4
    }

    google_cloud_life_sciences {
        process.executor = 'google-lifesciences'
        workDir = 'gs://camila-sao-paolo-bucket/work'
        google.region  = 'us-central1'
        google.project = 'camila-sao-paolo'

        withName:
        UNICYCLER {
            cpus = 8
            memory = '16 GB'
        }

        withName:
        UNICYCLER {
            cpus = 8
            memory = '16 GB'
        }

        withName:
        UNICYCLER {
            cpus = 8
            memory = '16 GB'
        }

    }

}

