manifest {
    name = 'Camila Sao Paulo analysis'
    description = "Workflow for the the Camila Sao Paulo analsis"
    version = '1.0.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04'
}

plugins {
    id 'nf-azure'
    id 'nf-google'
}

docker.enabled = true

profiles {
    standard { includeConfig 'conf/standard.config' }
    gls { includeConfig 'conf/gcp.config' }
    azureBatch { includeConfig 'conf/azure.config' }
    awsBatch { includeConfig 'conf/aws.config' }
    stub { includeConfig 'conf/stub.config' }
}

