process {
    withName:
    'FASTQC' {
        conda = 'bioconda::fastqc=0.11.9'
    }

    withName:
    'MULTIQC' {
        conda = 'bioconda::multiqc=1.9'
    }

    withName:
    'PROKKA' {
        conda = 'bioconda::prokka=1.14.6'
    }

    withName:
    'QUAST' {
        conda = 'bioconda::quast=5.0.2'
    }

    withName:
    'SNIPPY' {
        conda = 'bioconda::snippy=4.6.0'
    }

    withName:
    'SPADES' {
        conda = 'bioconda::spades=3.14.0'
    }

    withName:
    'TRIMMOMATIC' {
        conda = 'bioconda::trimmomatic=0.35'
    }

    withName:
    'UNICYCLER' {
        conda = 'bioconda::unicycler=0.4.8'
    }

    withName:
    'UTILS_FILTER_CONTIGS' {
        conda = 'bioconda::perl-bioperl=1.7.2'
    }

   withName:
   'CLASSIFY_TAXONOMY' {
       conda = 'bioconda::kraken2=2.1.1'
   }
}
