docker.enabled = true

process {
    withName:
    'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName:
    'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
    }

    withName:
    'PROKKA' {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    }

    withName:
    'QUAST' {
        container = 'quay.io/biocontainers/quast:5.0.2--py37pl526hb5aa323_2'
    }

    withName:
    'SNIPPY' {
        container = 'quay.io/biocontainers/snippy:4.6.0--0'
    }

    withName:
    'SPADES' {
        container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
    }

    withName:
    'TRIMMOMATIC' {
        container = 'quay.io/biocontainers/trimmomatic:0.35--6'
    }

    withName:
    'UNICYCLER' {
        container = 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
    }

    withName:
    'UTILS_FILTER_CONTIGS' {
        container = 'quay.io/biocontainers/perl-bioperl:1.7.2--pl526_11'
    }

   withName:
   'CLASSIFY_TAXONOMY' {
       container = 'quay.io/biocontainers/kraken2:2.1.1--pl526hc9558a2_0'
   }
}
