process {

           withName:
           FASTQC {
                container = 'quay.io/biocontainers/fastqc:0.11.9--0'
                cpus =  4
                memory = "8 GB"
           }

           withName:
           MULTIQC {
                container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
                cpus =  4
                memory = "8 GB"
           }

           withName:
           PROKKA {
                container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
                cpus =  8
                memory = "15 GB"
           }

           withName:
           QUAST {
                container = 'quay.io/biocontainers/quast:5.0.2--py37pl526hb5aa323_2'
                cpus =  8
                memory = "15 GB"
           }

           withName:
           SNIPPY {
                container = 'quay.io/biocontainers/snippy:4.6.0--0'
                cpus =  4
                memory = "8 GB"
           }

           withName:
           SPADES {
                container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
                cpus =  8
                memory = "15 GB"
           }

           withName:
           TRIMMOMATIC {
                container = 'quay.io/biocontainers/trimmomatic:0.35--6'
                cpus =  4
                memory = "8 GB"
           }

           withName:
           UNICYCLER {
                container = 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
                cpus =  8
                memory = "15 GB"
           } 
           
           withName:
           UTILS_FILTER_CONTIGS {
                container = 'quay.io/biocontainers/perl-bioperl:1.7.2--pl526_11'
                cpus =  4
                memory = "8 GB"
           }
           