process {
    withName:
    'FASTQC' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'MULTIQC' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'PROKKA' {
        cpus = 8
        memory = "15 GB"
    }

    withName:
    'QUAST' {
        cpus = 8
        memory = "15 GB"
    }

    withName:
    'SNIPPY' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'SPADES' {
        cpus = 8
        memory = "15 GB"
    }

    withName:
    'TRIMMOMATIC' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'UNICYCLER' {
        cpus = 8
        memory = "15 GB"
    }

    withName:
    'UTILS_FILTER_CONTIGS' {
        cpus = 4
        memory = "8 GB"
    }

   withName:
   'CLASSIFY_TAXONOMY' {
       cpus = 4
       memory = "8 GB"
   }


}
