params {
    outdir = "results"
    reads = "data/mock_data/00*_R{1,2}.fastq.gz"
    gbk_file = "data/mock_data/NZ_LT906469.1.fasta"
    orthoani_jar = "${baseDir}/data/mock_data/OAT_cmd.jar"
    blastplus_dir = "/root/miniconda3/envs/orthoani/bin/"
}

process {
    withName:
    ".*" {
        container = "ubuntu:20.04"
        cpus = 1
        memory = "2 GB"
    }
}
